<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/icons.css">

    <title>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}

      {{ if or (eq .Title "Posts") (eq .Title "Authors") (eq .Title "Categories") (eq .Title "Events") }}
        {{ print .Site.Title " | " (i18n (.Title | lower)) }}
      {{ else }}
        {{ print .Site.Title " | " .Title }}
      {{ end }}

    {{ end }}
    </title>

</head>
