{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    {{ if eq .Section "posts" }}
    <span class="article-date">{{ .Date.Format "02/01/2006" }}</span>
    {{ end }}

    <ul class="article-taxonomy">
    {{ if .Params.authors }}
    <li>
    <span>
      <a href="/authors">
        <i class="fa fa-user"></i>
      </a>
      {{ range $index, $tag := .Params.authors }} {{ if gt $index 0 }}{{ end }}<a href="{{ "authors/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    </span>
    </li>
    <hr>
    {{ end }}
    </ul>

    <div class="article-content justify_text">
      {{ .Content }}
    </div>

    <ul class="article-taxonomy">
      <hr>

      {{ if .Params.categories }}
      <li>
        <a href="/categories">
          <i class="fa fa-category"></i>
        </a>
        {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}

      {{ if .Params.tags }}
      <li>
        <a href="/tags">
          <i class="fa fa-tags"></i>
        </a>
        {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
    </ul>
  </article>

</main>

{{ partial "footer.html" . }}
